# Plant Detection results
*
!plant_detection
!tests
!quickscripts
!.gitignore
!.*.yml
!.*.yaml
!.coveragerc
!requirements.txt
!*.md
!*.py
!soil_image.jpg
!p2c_test_calibration.jpg
!p2c_test_color.jpg
!p2c_test_objects.jpg
!MANIFEST.in
